﻿@model SistemaLocacao.ViewModel.VeiculoVM

<h1>Cadastro de Veículos</h1>

@using (Html.BeginForm("Store", "Veiculo", FormMethod.Post))
{

    @Html.HiddenFor(model => model.Veiculo.Id)

    <div class="form-group">
        <label for="marca">Marca</label>
        @Html.TextBoxFor(model => model.Veiculo.Marca,
            new
            {
                @class = "form-control",
                placeHolder = "Marca",
                type = "text",
            })

    </div>

    <div class="form-group">
        <label for="Modelo">Modelo</label>
        @Html.TextBoxFor(model => model.Veiculo.Modelo,
           new
           {
               @class = "form-control",
               placeHolder = "Modelo",
               type = "text",
           })
    </div>

    <div class="form-group">
        <label for="Ano">Ano</label>
        @Html.TextBoxFor(Ano => Ano.Veiculo.Ano,
           new
           {
               @class = "form-control",
               placeHolder = "Ano",
               type = "text",
           })
    </div>

    <div class="form-group">
        <label for="Cor">Cor</label>
        @Html.TextBoxFor(Cor => Cor.Veiculo.Cor,
           new
           {
               @class = "form-control",
               placeHolder = "Cor",
               type = "text",
           })
    </div>

    <div class="form-group">
        @Html.ActionLink("Voltar", "Index", "Veiculo", null, new { @class = "btn btn-default" })
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
}
