﻿@model SistemaLocacao.ViewModel.VeiculoVM

<h1>Veículos</h1>
<hr />

@if (Model.Message != "" && Model.Success)
{
    <div class="row">
        <div class="alert alert-success" role="alert">@Model.Message</div>
    </div>
}

@if(Model.Message != "" && Model.Success)
{
    <div class="row">
        <div class="alert alert-warning" role="alert">@Model.Message</div>
    </div>
}



<div class="container">
    <div class="row">
        @Html.ActionLink("Novo Veículo", "Create", "Veiculo", null, new { @class = "btn btn-primary" })
    </div>

    <br />

    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Cor</th>
                <th>Ano</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.veiculoList)
            {
                <tr>
                    <td>@item.Modelo</td>
                    <td>@item.Marca</td>
                    <td>@item.Cor</td>
                    <td>@item.Ano</td>
                    <td class="col-lg-1">
                        @Html.ActionLink("Editar", "Edit/" + @item.Id, "Veiculo", null, new { @class = "btn btn-success" })
                    </td>
                    <td class="col-lg-1">
                        @Html.ActionLink("Deletar", "Delete/" + @item.Id, "Veiculo", null, new { @class = "btn btn-warning" })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

